.address_box {
  background: rgb(240, 240, 240);
  padding: 5rem;
  flex-grow: 1;
  text-align: center;
  transition: all 0.5s ease;

  & i {
    font-size: 3.5rem;
  }

  & h3 {
    margin: 2rem 0;
    font-weight: 700;
    font-size: 1.5rem;
  }

  & span {
    font-size: 1rem;
  }
}
